body{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3%;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

@media (max-width:1200px){
    .wrapper{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .wrapper{
        max-width: 750px;
    }
}

@media (max-width: 767px){
    .wrapper{
        max-width: none;
    }
}

.block{
    display: flex;
    flex-direction: column;
}

.block-header{
    display: flex;
    justify-content: space-between;
}

.icon{
    max-width: 8%;
}

.block-img{
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
}

img{
    max-width: 30%;
}