body{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: medium;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: beige;
}

h1{
    font-size: large;
    font-weight: 900;
}

img{
    max-width: 20em;
}

.icon-img{
    width: 2em;
    height: 2em;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 70%;    
    cursor: pointer;
}

@media (max-width:1200px){
    .wrapper{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .wrapper{
        max-width: 750px;
        width: 90%;
    }
}

@media (max-width: 600px){
    .wrapper{
        max-width: none;
        width: 90%;
    }
    .icon-img{
        display: none;
    }
    img{
        width: 100%;
        height: auto;
    }
}

.block{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.block-header{
    display: flex;
    justify-content: space-between;
    margin: 1em 0 1em;
}

.move-icon-opened .block-header{
    color: #007730;
}

.opened .block-header{
    color: black;
}

.move-opened .block-header{
    color: black;
}

.icon{
    max-width: 5em;
    max-height: 5em;
    display: flex;
    justify-content: right;
    max-height: 0;
    overflow: hidden;
}

.move-icon-opened .icon{
    max-height: 5em;
}

.opened .icon{    
    transform: scale(-1, 1);
}

.move-opened .icon{
    transform: scale(-1, 1);
}

.block-img{
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
}

.opened .block-img{
    max-height: 20em;
}

.move-opened .block-img{
    max-height: 20em;
}